@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* shared-styles */
.secondary-bg{
    background-color: rgb(236, 227, 221);
}
.text-primary{
    color: rgb(253, 110, 10);
}
.Dark-2{        
    color: rgb(71, 71, 71);
}
.section-title{
    font-size: 45px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
    color: rgb(117, 117, 117);
}
.text-center{
    text-align: center;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 51px;

}
nav ul{
    display: flex;
    align-items: center;

}
.btn-primary{
    background-color: rgb(253, 110, 10);
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
}
/* banner-styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-pfp{
    width: 584px;
    height: 676px;
}
/* banner psudo image */
.header-section{
    background-image: url(/images/developer.png),url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
/* main styles */
main{
    margin: 0 230px;
    max-width: 1140px;
}

/* about section */
.about{
    border-radius: 5px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px;
    box-sizing: border-box;
    border: 1px solid black;
}
.about-items{
    display: flex;
    justify-content:space-around;
    color: rgb(117, 117, 117);
}
.item-title{
    font-weight: 400;
}
.item-description{
    font-weight: 700;
}
/* skill section  */
.skills-container{
    display: flex;
    column-gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px black;
}
/* Resume section */
.resume-container{
    display: flex;
    column-gap: 24px;
}

/* Footer Styles */
footer{
    display: flex;
    column-gap: 100px;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    width: 461px;
    border-radius: 5px;
    background: white;
    display: block;
    margin-bottom: 24px;
}
footer textarea{
    height: 180px;
    width: 461px;
}